<script>
    const search = () => {
        let topic = document.getElementById('topic').value;
        window.open(`/news/${topic}`,'_self')
    }
</script>
<footer>
    <div class = 'footer-copy'>
        <h2>News Sraper</h2>
        <p>A simple news scraper made with express and cheerio.</p>
        <p>Made by - <a href = 'https://twitter.com/itsprabhi'>Prabhi</a></p>
        <p><a href = 'https://github.com/itsprabhi'>Github</a></p>
    </div>
    <div class = 'footer-links'>
        <p>Code for this project - <a href = 'https://github.com/itsprabhi/news-scraper'>code</a></p>
    </div>
</footer>
</body>
</html>