<%- include('partials/header') -%>
<div class = 'search'>
    <div class = 'search-container'>
        <h1>News Scraper</h1>
        <input type="search" id = 'topic' placeholder="enter your topic">
        <button class="search-btn" onclick = 'search()'>Search</button>
    </div>
</div>
<%- include('partials/footer') -%>